<table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>FName</th>
                <th>LName</th>
                <th>Mobile No</th>
                <th>Password</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cust of customer">
                <td style="padding-top: +20px;">{{cust.id}}</td>
                <td style="padding-top: +20px;">{{cust.fname}}</td>
                <td style="padding-top: +20px;">{{cust.lname}}</td>
                <td style="padding-top: +20px;">{{cust.mobile}}</td>
                <td style="padding-top: +20px;">{{cust.password}}</td>
            </tr>
            
        </tbody>
    </table>
    