    <h2 style="text-align: center;">About the Website</h2>
    
    <div class="card1">
            <p>Household is your one-stop solution to sort all your home needs ranging from construction to maintenance, quickly, professionally and conveniently. We simplify your everyday living with a variety of at-home services across differents cities of India, delivered by verified & qualified professionals only. Housejoy’s home services include Interiors/Renovation/Construction Services, Home Cleaning, Painting, Beauty Services at Home, Appliance Repairs, Pest Control, Plumbing/Electrical/Carpentry services & a lot more.</p>
            
        
        </div>
    <div class="row" style="display: flex; justify-content: center;" >
    <div class="column" >
        <div class="card2" >
                <img src="../../assets/falke.jpg" alt="Avatar" style="width:90px;height: 100px;">
        <h4>Shubham Falke</h4>
        <p>sfalke43@gmail.com </p>
        </div>
    </div>

    <div class="column">
        <div class="card2">
 <img src="../../assets/shubham.jpg" alt="Avatar" style="width:90px;height: 100px;">

        <h4>Shubham Rai</h4>
       
        <p>shubhamrai285@gmail.com</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    </div> 
   